@page "/user"

@inject HttpClient _httpClient

<h1>User</h1>
<div>
    <a href="/adduser"> Create New User</a>
    @if (userList != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Full Name</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in userList)
                {
                    <tr>
                        <td>
                            @p.username
                        </td>
                        <td>@p.password</td>
                        <td>@p.fullname</td>
                        <td>@p.date</td>
                        <td>
                            <a href="/edituser/@p.username">Edit</a> |
                            <a href="/deleteuser/@p.username">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br />
<br />
@code {
    List<UserViewModel> userList = new List<UserViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/user");
        response.EnsureSuccessStatusCode();
        userList = await response.Content.ReadFromJsonAsync<List<UserViewModel>>();
    }
}
