/* /Pages/Register.razor.rz.scp.css */
.content[b-ttfg4fxclx] {
    width: 90% !important;
    border-radius: 2em;
    border-width: 0px;
    box-sizing: border-box;
    border-style: solid;
    box-shadow: 0 0 10px 4px #CCFFCC;
    padding: 1em;
}

.page[b-ttfg4fxclx] {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label[b-ttfg4fxclx] {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zcq3uyoj0e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zcq3uyoj0e] {
    flex: 1;
}

.sidebar[b-zcq3uyoj0e] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zcq3uyoj0e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 4rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zcq3uyoj0e]  a, .top-row[b-zcq3uyoj0e]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        font-size: 17px;
    }

        .top-row[b-zcq3uyoj0e]  a:hover, .top-row[b-zcq3uyoj0e]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-zcq3uyoj0e]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zcq3uyoj0e] {
        display: none;
    }

    .top-row.auth[b-zcq3uyoj0e] {
        justify-content: space-between;
    }

    .top-row[b-zcq3uyoj0e]  a, .top-row[b-zcq3uyoj0e]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zcq3uyoj0e] {
        flex-direction: row;
    }

    .sidebar[b-zcq3uyoj0e] {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zcq3uyoj0e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-zcq3uyoj0e]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-zcq3uyoj0e], article[b-zcq3uyoj0e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5thau5dncs] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-5thau5dncs] {
    height: 4rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-5thau5dncs] {
    font-size: 1.5rem;
}

.oi[b-5thau5dncs] {
    width: 2.5rem;
    font-size: 1.75rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-5thau5dncs] {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-5thau5dncs] {
        padding-top: 1.5rem;
    }

    .nav-item:last-of-type[b-5thau5dncs] {
        padding-bottom: 2rem;
    }

    .nav-item[b-5thau5dncs]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        font-size: 15px;

    }

.nav-item[b-5thau5dncs]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-5thau5dncs]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5thau5dncs] {
        display: none;
    }

    .collapse[b-5thau5dncs] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
