@page "/brand/index"

@inject HttpClient _httpClient

<div class="title" style="text-align:center">
     <h3>QUẢN LÍ NHÃN HÀNG</h3>
     <a href="/brand/addbrand" style="float:right"><button class="btn btn-success">Thêm mới</button></a>
</div>
<div>

    @if (brandList != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in brandList)
                {
                    <tr>
                        <td>@p.id</td>
                        <td>@p.name</td>
                        <td>@p.status</td>
                        <td>
                            <a href="/brand/editbrand/@p.id">Edit</a>
                            <a href="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br />
<br />
@code {
    List<BrandViewModel> brandList = new List<BrandViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/brand");
        response.EnsureSuccessStatusCode();
        brandList = await response.Content.ReadFromJsonAsync<List<BrandViewModel>>();
    }
}
