<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <div class="header_topbar_content">
                <pre> GOLD DUCK CAMERA </pre>
            </div>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> HOME
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="camera">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> CAMERA
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="videocam">
                <span class="oi oi-battery-full" aria-hidden="true"></span> VIDEO CAM
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="accessories">
                <span class="oi oi-aperture" aria-hidden="true"></span> ACCESSORIES
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="guarantee">
                <span class="oi oi-wrench" aria-hidden="true"></span> GUARANTEE
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="contact">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> CONTACT
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-4">
            <NavLink class="nav-link" href="user">
                <span class="oi oi-person" aria-hidden="true"></span> User
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
